html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    margin-top: 20px;
}

.navbar {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #0056b3;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 15px 0;
    text-align: center;
    margin-top: auto;
}

footer span {
    font-weight: bold;
}

.btn {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
